:root {
    --azul: #8fb8e9;
    --amarillo: #ecc18f;
    --beige: #f6f3df;
    --azul_ocuro: #383665;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: var(--beige);
    color: var(--azul_ocuro);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    }

.all-body {
    background-color: #fff;
    padding: 3rem;
    margin: 20px 0px;
    border-radius: 2rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 60%;
    text-align: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header img {
    height: 65px;
    width: auto;
}

.header .imagen-perfil img {
    width: 100%;
    height: 10rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
}

.header p {
    font-size: 2.2rem;
    font-weight: bold;   
    margin-block-end: 0px; 
    margin-block-start: 10px; 
}

.header .puesto1 p {
    font-family: 'JetBrains Mono', monospace;
    font-size: 1rem;
    color: var(--azul_ocuro);
    background-color: var(--azul);
}

.header .puesto2 p {
    font-size: 1.1rem;
    color: var(--azul_ocuro);
    margin-bottom: 30px;
    background-color: var(--azul);
}

.content .sobre-mi p {
    font-size: 0.9rem;
    line-height: 1.6;
    margin-bottom: 60px;
}

.content .badge-base {
    margin-top: 50px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
}

.cv, .email {
    margin: 20px 0px;
}

.cv img, .email img, .linkedin img {
    width: 25px;
    height: auto;
    opacity: 0.8;
    filter: invert(100%);
}

.cv img {
    width: 25px;
    height: auto;
}

.cv a, .email a, .linkedin a {
    background-color: var(--azul);
    color: var(--azul_ocuro);
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.95rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transition: background-color 0.3s ease;
    height: 45px;
}

.cv a {
    background-color: var(--amarillo);
}

.cv a:hover, .email a:hover, .linkedin a:hover {
    background-color: var(--azul_ocuro);
    color: white;
}

@media (min-width: 500px) {
    .all-body {
        width: 50%;
    }
}
